#jssor_1 {
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:480px;
    height:118px;
    overflow:hidden;
    visibility:hidden;
}

#jssor_1 div.loader {
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.7);
}

#jssor_1 div.mask {
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#jssor_1 div.loading {
    position:absolute;
    display:block;
    background:url('../img/loading.gif') no-repeat center center;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#jssor_1 div.slides {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:480px;
    height:118px;
    overflow:hidden;
}

#jssor_1 > div div.item img {
    padding:16px;
    height:236px;
    height:
}
